@import 'colors';

th {
	background-color: $blue;
	color: $white;
}

.red {
	background-color: $red;
	color: $white;

	&:hover {
		background-color: darken($red, 10%);
	}
}

.yellow {
	background-color: $yellow;
	color: $dgrey;

	&:hover {
		background-color: darken($yellow, 10%);
	}
}

.green {
	background-color: $green;
	color: $dgrey;

	&:hover {
		background-color: darken($green, 10%);
	}
}

.chosen-year, .scorecard-name {
	font-size: 32px;
}

.year-btns {
	margin: 0 0 10px 10px;
}
